html {
  height:100%;
}

body {
  background-color: bisque;
  margin: 0;
  height: 100%;
}

/* div {
  height: 100%;
} */

button {
  position: fixed;
  top: 50%;
  left: 48%;
  
  font-size: 100px;
  color: white;
  border: none;
  background-color: #05b4ff;
  padding-left: 25px;
  padding-right: 25px;
}

button:active {
  background-color: #0098d4;
}