html {
  height:100%;
}

body {
  background-color: #ffffff;
  margin:0;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
} 

button {
  font-size: 100px;
  color: white;
  border: none;
  background-color: #05b4ff;
  padding-left: 0.3em; /*em is relative to the font size :DDD*/
  padding-right: 0.3em;
  border-radius: 50%;
}

button:active {
  background-color: #0098d4;
}